<mat-card class="example-card">

  <div *ngIf="schedule" class="container">
    <h6>Tem certeza que deseja apagar: <b>{{schedule.name}}</b></h6>
  <form method="post" #frm="ngForm"  >
    <!-- <div class="form-group">
      <label for="name">Tem certeza que deseja apagar: {{schedule.name}} </label>
      <label for="quantity"></label>
    </div> -->


    <button type="submit" class="btn btn-danger" (click)="deletar(schedule.id)"
    [disabled]="frm.invalid" >Apagar</button>
    <button type="submit" class="btn btn-default"
    [disabled]="frm.invalid" >Cancelar</button>
    </form>

  </div>
  </mat-card>
