<div class="wrapper-header">
  <div class="row">
    <div class="col-xs-12 col-md-8" style="padding: 10px;" >
      <!-- <ul class="menu-header">
        <li routerLink="">Home</li>
        <li routerLink="/org">Organização</li>
        <li routerLink="/schedule">Agenda</li>
      </ul> -->

      <button mat-button class="menu-button" routerLink="" >Início |</button>

      <button mat-button class="menu-button" [matMenuTriggerFor]="aboveMenu">Organização |</button>
      <mat-menu #aboveMenu="matMenu" class="mat-menu" yPosition="above">
        <button class="mat-button" mat-menu-item routerLink="/org">Novo cadastro</button>
        <button class="mat-button" mat-menu-item routerLink="/org-list">Listar</button>
      </mat-menu>

      <button mat-button class="menu-button" [matMenuTriggerFor]="aboveMenu2">Agenda</button>
      <mat-menu #aboveMenu2="matMenu" class="mat-menu" yPosition="above">
        <button class="mat-button" mat-menu-item routerLink="/schedule">Novo cadastro</button>
        <button class="mat-button" mat-menu-item routerLink="/schedule-list">Listar</button>
      </mat-menu>
    </div>

    <div class="col-xs-12 col-md-4">
      <!-- <form > -->
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <div class="form-check">
              <button type="submit" class="btn btn-primary acessar-conta">
                Entrar
              </button>
              <label class="criar-conta" for="autoSizingCheck2">
                <b>Criar</b> conta
              </label>
            </div>
          </div>
        </div>
      <!-- </form> -->
    </div>
  </div>
</div>
