@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

.box-cadastro {
  margin: 30px;
  padding: 30px;
  }
  .cadastro {
  padding: 10px;
  margin: 5px;
  border-bottom: 2px solid #ddd;
  border-radius: 60;
  outline: none;
  height: 50px;
  max-width: 500px;
  }
.btn-cadastro {
  width: 100px;
  margin: 5px;
  display: block;
  padding: 10px;
  background-color: #dcbc81;
  font-size: 100%;
  font-weight: bold;
  }


  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }


  // @media screen and (min-width: 500px){
  //   .btn-cadastro {
  //     width: 30%;
  //     }
  // }
